@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tw-clr-primary-400: 255, 192, 203;
  --tw-clr-primary-500: 225, 199, 242;

  --clr-primary-400: rgb(var(--tw-clr-primary-400)); /* #FFC0CB */
  --clr-primary-500: rgb(var(--tw-clr-primary-500)); /* #E1C7F2 */
}

@layer components {
  .theme {
    @apply transition duration-300 ease-in-out cursor-pointer hover:text-pink-300;
  }
}

@layer base {
  h1 {
    @apply text-2xl font-bold md:text-4xl;
  }

  h2 {
    @apply text-xl font-bold md:text-3xl;
  }

  h3 {
    @apply text-lg font-bold md:text-2xl;
  }

  h4 {
    @apply text-base font-bold md:text-lg;
  }

  body {
    @apply text-sm md:text-base;
  }

  .min-h-main {
    @apply min-h-[calc(100vh-3rem)];
  }
}

@layer utilities {
  .animated-underline {
    background-image: linear-gradient(#33333300, #33333300),
      linear-gradient(to right, var(--clr-primary-400), var(--clr-primary-500));
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: 0.3s ease;
    transition-property: background-size, color, background-color, border-color;
  }
  .animated-underline:hover,
  .animated-underline:focus-visible {
    background-size: 0 2px, 100% 2px;
  }
}
